{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Server error' %}
</div>
{% endblock %}
{% block title %}{% trans 'Server error. (500)' %}{% endblock %}

{% block content %}
<h1>{% trans 'Server Error. <em>(500)</em>' %}</h1>
<p>{% trans'Sorry, it looks like something has gone wrong. Please try again and, if you are still having difficulties, feel free to contact us for assistance.' %}</p>

{% endblock %}
